asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
fontawesomefree
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
